*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

:root{
    --player-color: #181818;
    --black-color: black;
    --primary-color: #202122;
    --secondary-color:#0A0A0A;
    --font-color: darkgray;
    --white-color: white;
}

.app-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-grow: 1;
    overflow: auto;
}

.left-container{
    flex-basis: 10%;
    min-width: 40px;
    height: 100%;
    background-color: var(--black-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
}

.logo{
    flex-shrink: 0;
    margin: 10% 0;
}

.logo-small{
    display: block;
    width: 60%;
    margin: auto;
}

.logo-large{
    display: none;
}

.playlist-container{
    width: 80%;
    margin: auto;
    flex-grow: 1;
    color: var(--font-color);
    display: none;
}

.playlist-container div{
    margin: 1rem 0;
}

.playlist-container h4{
    color: var(--white-color);
    font-size: .8rem;
}

.playlist-creator{
    display: flex;
    align-items: center;
    width: 100%;
}

.playlist-creator button{
    background-color: var(--font-color);
    color: var(--black-color);
    border: none;
    width: 25%;
    aspect-ratio: 1/1;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.top-left{
    flex-grow: 1;
    color: var(--font-color)
}

.top-left div{
    margin: 10px 0;
}

.top-left img{
    display: block;
    width: 50%;
    margin: auto;
}

.icons span{
    display: none;
}

.bottom-left{
    color: var(--font-color);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-installer{
    margin-bottom: 1rem;
}

.app-installer img{
    display: block;
    width: 30%;
    margin: auto;
}

.profile img{
    background-color: darkgray;
    width: 50%;
    border-radius: 100%;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    aspect-ratio: 1/1;
}

.right-container{
    flex-grow: 1;
    height: 100%;
    background-color: var(--primary-color);
    overflow: auto;
}

.top-bar{
    width: 100%;
    background-color: var(--secondary-color);
    padding: 1rem 0; 
    display: flex;
    justify-content: flex-end;
}

.top-bar button{
    color: var(--white-color);
    background-color: var(--secondary-color);
    border: 1px solid var(--white-color);
    border-radius: 50px;
    padding: .5rem 3rem;
    margin-right: .6rem;
}

.categorie{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.categorie button{
    background-color: var(--primary-color);
    color: gray;
    border: none;
    margin: 1rem .6rem;
}

.album-container{
    margin: 1rem;
}

.titolo{
    color: var(--white-color);
    margin-bottom: 1rem;
}

.sottotitolo{
    color: var(--font-color);
    margin-bottom: 2rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    flex-basis: 50%;
    margin-bottom: 1rem;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font-color);
}

.card img{
    display: block;
    width: 90%;
    margin: auto;
}

.card-album{
    position: relative;
}

.album-play{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    border: 3px solid var(--font-color);
    border-radius: 100%;
    padding:.5rem .7rem;
    aspect-ratio: 1/1;
    display: none; 
}

.card-album:hover{
    -webkit-filter: grayscale(60%);
     filter: grayscale(60%);
}

.card-album:hover .album-play{
    display: block;
}

.artist img{
    border-radius: 100%;
}

.card h4{
    color: var(--white-color);
    margin: 1rem auto;
    text-align: center;
}

.player{
    width: 100%;
    display: flex;
    flex-shrink: 0;
    height: 100px;
    background-color: var(--player-color);
    z-index: 99;
    color: var(--font-color);
}

.selected-section{
    width: 30%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.played-album{
    display: flex;
    align-items: center;
}

.img-played-album{
    width: 40%;
    padding: .5rem;
}

.name-played-album{
    width: 60%;
}

.name-played-album h4{
    width: 100%;
    font-size: .8rem;
    color: var(--white-color);
}

.name-played-album div{
    display: flex;
    flex-direction: column;
    font-size: .7rem;
    color: var(--font-color);
}

.played-album img{
    width: 100%;
    max-width: 90px;
}

.selected-icons{
    display: flex;
    flex-direction: column;
}

.command-section{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.buttons{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    margin-top: .5rem;
    color: var(--white-color);
}

.time{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    margin-bottom: .5rem;
}

.start-time, .end-time{
    font-size: .6rem;
}

.barra{
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin: 0 .2rem;
}

.volume-section{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

.volume-icons{
    display: flex;
    flex-basis: 30%;
    justify-content: space-between;
    align-items: center;
}

.volume-icons i{
    font-size: .8rem;
    margin: 0 .2rem;
}

.volume-bar{
    display: flex;
    align-items: center;
    margin-right: .5rem;
    flex-basis: 50%;
    margin-bottom: 3px;
}

.bar-full{
    background-color: white;
    height: 3px;
    width: 30%;
}

.bar-empty{
    background-color: var(--font-color);
    height: 3px;
    width: 70%;
}